{% extends 'layout.html' %}
{% load static%}
{% block title %}

{% endblock %}


{% block content %}
<h1 class="noticiasN"> CONTACTANOS PAR MAS INFORMACION </h1>
<div style="position: relative;">
	<div style="position: absolute;top: 70%;left:50%;transform: translate(-50%, 10%);text-align: center;">
    <img style="width: 350px;height: 200px;margin-top: 10px;" src="https://cdn-icons-png.flaticon.com/512/40/40316.png">
	<p>Email: mataronatres@gmail.com</p>
	<p>Dirección: Av 14 Call 188 Genesis</p>
	<p>Tel: 7346666</p>
</div>
</div>

{% endblock %}
