{% extends 'layout.html' %}
{% load static%}
{% block title %}

{% endblock %}
{% block content %}

<h1 class="noticiasN"> DEPORTES DEL DIA </h1>

<div class="hola">
    <div class="parrafo">
        <h3 class="title2">Futbol</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Maiores earum vitae perspiciatis reprehenderit facilis minima 
        nesciunt aut nostrum velit a magnam doloremque eius tempore, possimus nisi?
        Labore veritatis temporibus ea.</p>
        <img class="imagNotice" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/09/23/15692245337739.jpg">
    </div>

    <div class="parrafo">
        <h3 class="title2">Futbol</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Maiores earum vitae perspiciatis reprehenderit facilis minima 
        nesciunt aut nostrum velit a magnam doloremque eius tempore, possimus nisi?
        Labore veritatis temporibus ea.</p>
        <img class="imagNotice" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/10/21/15716768681744.jpg">
    </div>

    <div class="parrafo">
        <h3 class="title2">Futbol</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Maiores earum vitae perspiciatis reprehenderit facilis minima 
        nesciunt aut nostrum velit a magnam doloremque eius tempore, possimus nisi?
        Labore veritatis temporibus ea.</p>
        <img class="imagNotice" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/11/13/15736448317410.jpg">
    </div>
</div>

{% endblock %}